body {
  background-image: url('data/ski_resort.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  max-width: 1200px;
  margin: auto;
  background-color:  #cce4ff;
}
h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
p{
  /* text-align: center; */
  font-family: 'Montserrat', sans-serif;
  color: white;
}
ul{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

#map{
  border: 2px solid;
	padding: 10px;
	/* box-shadow: 6px 4px 8px 4px; */
	border-radius: 12px;
  height: 70vh;
}
#map2 { 
  border: 2px solid;
  padding: 10px;
  /* box-shadow: 6px 4px 8px 4px; */
  border-radius: 12px;
  height: 70vh;
}
#map3 {
  border: 2px solid;
  padding: 10px;
  /* box-shadow: 6px 4px 8px 4px; */
  border-radius: 12px;
  height: 70vh;
}
#map4 {
  border: 2px solid;
  padding: 10px;
  /* box-shadow: 6px 4px 8px 4px; */
  border-radius: 12px;
  height: 70vh;
}
#map5 {
  border: 2px solid;
  padding: 10px;
  /* box-shadow: 6px 4px 8px 4px; */
  border-radius: 12px;
  height: 70vh;
}

#map6 {
  height: 70vh;
}

.wrapper {
  max-width: 1200px;
  /* margin: 50px auto; */
  background-color: white;
  border: 2px solid;
  padding: 10px;
  /* box-shadow: 6px 4px 8px 4px; */
  border-radius: 12px;
  height: 70vh;
}
